# Beyond the Basics of pandas

Now that we have covered the basics of pandas and how to manipulate data, let's move on to some different representations of data in pandas. In this section we will analyze financial data that can be readily accessed from within the pandas library.

In [1]:
%matplotlib inline
import sys
print(sys.version)
import numpy as np
print(np.__version__)
import pandas as pd
print(pd.__version__)
import matplotlib.pyplot as plt

3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:25:24) [MSC v.1900 64 bit (AMD64)]
1.12.1
0.20.1



We will leverage the `pandas.io` remote data access as described on this page:

http://pandas.pydata.org/pandas-docs/stable/remote_data.html

Functions from `pandas.io.data` and `pandas.io.ga` extract data from various Internet sources and make them available in our notebooks. At the time of this writing, the following sources are supported:

- Yahoo! Finance
- Google Finance
- St.Louis FED (FRED)
- Kenneth Frenchâ€™s data library
- World Bank
- Google Analytics

This list actively changes so it is a good idea to see what is available to you; it is likely that more useful sources will continue to be added.

Let's explore the module to see if it gives us any information.

In [8]:
#import pandas.io.data
#?pandas.io.data
#from pandas_datareader import data,wb
from pandas_datareader import data, wb

Our plan is to look at some stocks from Yahoo! data with `pandas.io.data`.  There was a fair amount of volatility in the oil markets in 2014 to 2015. It was rough for oil producers, to say the least. Let's explore some of the stocks that are involved in that specific market.

First we will set start and end dates. These are just datetimes. As we review in the next cell, we can create datetimes from the datetime package.  However, we can also use pandas to simply parse a string and pull out a datetime as well. This ends up being extremely useful.

In [9]:
import datetime
print(datetime.datetime(2010,1,1))
print(pd.to_datetime("2010-1-1"))

2010-01-01 00:00:00
2010-01-01 00:00:00

Now let's take a look at some specific stocks. Let's look at WTI, CHK, Tesla Motors, and CBAK. Below you will find out what they each cover, although you can certainly look online as well.


WTI - W&T Offshore Inc. (This company drills in the Gulf of Mexico.)

CHK - Chesapeake Energy Corporation

TSLA - Tesla Motors

CBAK - China Bak Battery Incorporated

See below how I use both datetime creation methods. We will get data from 2010 to 2015 for all of these stocks.

In [16]:
start = pd.to_datetime('2010-1-1')
end = datetime.datetime(2015,1,1)
ticker_symbols = ['WTI','CHK','TSLA','CBAK']

Here you can see how to get data for a single stock.

In [17]:
#wti = pd.io.data.get_data_yahoo(ticker_symbols[0],start=start,end=end)
wti =data.get_data_yahoo(ticker_symbols[0],start=start,end=end)

In [18]:
wti.head()

             Open   High    Low  Close  Adj Close  Volume
Date
2010-01-04  11.90  12.46  11.86  12.26   9.824886  838800
2010-01-05  12.30  12.63  12.17  12.34   9.888995  625400
2010-01-06  12.41  12.65  12.39  12.58  10.081329  604700
2010-01-07  12.60  12.70  12.24  12.45   9.977148  565300
2010-01-08  12.37  12.54  12.12  12.50  10.017215  521100

One way to download the data for all of the stocks is in a `for` loop like the one below.

In [19]:
for symbol in ticker_symbols:
    print(symbol)
    df = data.get_data_yahoo(symbol,start=start,end=end)

WTI
CHK
TSLA
CBAK

RemoteDataError: Unable to read URL: https://query1.finance.yahoo.com/v7/finance/download/CBAK?period1=1262322000&period2=1420174799&interval=1d&events=history&crumb=%5Cu002FUtdSdjNRNd

A simpler solution is to just pass in a list of symbols, which pandas will automatically resolve for us.

In [20]:
panl = data.get_data_yahoo(ticker_symbols,start=start,end=end)

Notice that I called this `panl` instead of something conventional like `df`. This is because this query returns a Python type that we have not encountered yet. It is a pandas `panel`. Panels are an advanced topic, and explaining their use cases is outside the scope of this course; however, we will cover the basics.

The word *panel* is derived from "panel data."  In econometrics and statistics, panel data refers to a data set in which multiple units of analysis are observed over multiple time periods.  Such a data set requires specialized statistical modeling techniques for analysis.  

A panel in pandas is a three-dimensional container for data. It is basically a three-dimensional DataFrame. We can query along each of those individual dimensions.

**Warning:** Most of the time, the two definitions of *panel* line up nicely: a pandas panel is a great way to store most panel data.  There could be exceptions, however.  Not all three-dimensional data sets have a time dimension, for example.  As you continue in your training, it is important to keep the separate definitions in mind.  In particular, do not assume that everything you learn about pandas `panel` carries over to the statistical definition.

In [21]:
panl

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1258 (major_axis) x 4 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2014-12-31 00:00:00
Minor_axis axis: CBAK to WTI


We can see that our panel has three axes: an items axis, a major axis, and a minor axis. The major axis is the time axis.  The minor axis has the four companies (these are our principal units of analysis).  Finally, the items axis refers to the different variables: opening price, closing price, and so forth.

Panels are a core part of pandas, but they are much less used in pandas and therefore are a bit neglected. Understand that we are not trying to avoid the topic; this is stated in the documentation.

http://pandas-docs.github.io/pandas-docs-travis/dsintro.html#panel

> Note: Unfortunately Panel, being less commonly used than Series and DataFrame, has been slightly neglected feature-wise. A number of methods and options available in DataFrame are not available in Panel. This will get worked on, of course, in future releases (and even faster if you join me in working on the codebase).

In [22]:
type(panl)

pandas.core.panel.Panel


You are likely to run into panels at some point in your work, so lets touch on their behavior. Panels include a lot of the basic methods that we are comfortable with, like `shape`.

In [23]:
panl.shape

(6, 1258, 4)

We have these three axes so when we want to query data, we need to do that a bit differently. Items are queried like standard DataFrame columns with dot syntax.

In [24]:
panl.Open.head()

            CBAK        CHK  TSLA    WTI
Date
2010-01-04  14.5  25.950804   NaN  11.90
2010-01-05  13.6  26.773888   NaN  12.30
2010-01-06  14.9  27.634815   NaN  12.41
2010-01-07  14.5  27.086092   NaN  12.60
2010-01-08  14.5  26.859035   NaN  12.37

The major and minor axes are done differently, with the major_xs and minor_xs commands. Notice how the `major_xs` conveniently accepts a date string and parses it for us.

In [25]:
panl.major_xs('2013-5-1')

      Adj Close      Close       High        Low       Open      Volume
CBAK   0.770000   0.770000   0.790000   0.600000   0.620000     56800.0
CHK   17.569923  18.155155  18.902554  17.842951  18.826868  17267200.0
TSLA  53.279999  53.279999  55.990002  53.000000  55.990002   2742800.0
WTI   10.394898  11.220000  11.540000  11.030000  11.540000    720500.0

In [26]:
panl.minor_xs('CHK').head()

            Adj Close      Close       High        Low       Open      Volume
Date
2010-01-04  24.503799  26.575212  26.594135  25.468306  25.950804  31146800.0
2010-01-05  25.271461  27.407759  27.549669  26.679281  26.773888  28692600.0
2010-01-06  24.992317  27.105015  27.644276  26.991486  27.634815  16054900.0
2010-01-07  25.053375  27.171240  27.246925  26.660360  27.086092  13906600.0
2010-01-08  25.219124  27.350994  27.360455  26.537371  26.859035  11656300.0

Some summary statistics are available to us such as the mean.  Notice that this computes the mean across the major axis, which is the time axis.

In [27]:
panl.mean()

      Adj Close      Close       High        Low       Open        Volume
CBAK   4.791367   4.791367   4.974396   4.660167   4.808331  1.172530e+05
CHK   21.921952  22.991252  23.339564  22.645711  23.019114  1.423089e+07
TSLA  88.177315  88.177315  89.988099  86.329102  88.218820  4.136642e+06
WTI   14.329300  16.069173  16.418887  15.720723  16.080199  8.069658e+05

We can perform different kinds of selections and transposition using the major and minor axes; however,  we will not cover this material. What we will do is convert this panel to a DataFrame. This will be a convenient way to introduce a new topic as well.

When we convert the `panel` to a `DataFrame` with the `to_frame` command, we will see that it looks a bit different, especially when we print out the data.

In [28]:
df = panl.to_frame()
df.head()

                  Adj Close      Close       High        Low       Open  \
Date       minor
2010-01-04 CBAK   13.500000  13.500000  14.500000  13.350000  14.500000
           CHK    24.503799  26.575212  26.594135  25.468306  25.950804
           WTI     9.824886  12.260000  12.460000  11.860000  11.900000
2010-01-05 CBAK   14.250000  14.250000  15.500000  13.450000  13.600000
           CHK    25.271461  27.407759  27.549669  26.679281  26.773888

                      Volume
Date       minor
2010-01-04 CBAK     456600.0
           CHK    31146800.0
           WTI      838800.0
2010-01-05 CBAK    1179500.0
           CHK    28692600.0

You can see that we have two indices on our data. More formally this is called a hierarchical or multi-index. Hierarchical indices are extremely powerful because they allow for a lot of creative querying. We will not go into them too deeply right now; however, we will touch on them a bit later in this section.

What you need to know now is that there are levels that are stacked on one another and those can be queried. Formally, as you might have guessed, the different indices are known as *levels*.

In [29]:
df.index.levels

FrozenList([[2010-01-04 00:00:00, 2010-01-05 00:00:00, 2010-01-06 00:00:00, 2010-01-07 00:00:00, 2010-01-08 00:00:00, 2010-01-11 00:00:00, 2010-01-12 00:00:00, 2010-01-13 00:00:00, 2010-01-14 00:00:00, 2010-01-15 00:00:00, 2010-01-19 00:00:00, 2010-01-20 00:00:00, 2010-01-21 00:00:00, 2010-01-22 00:00:00, 2010-01-25 00:00:00, 2010-01-26 00:00:00, 2010-01-27 00:00:00, 2010-01-28 00:00:00, 2010-01-29 00:00:00, 2010-02-01 00:00:00, 2010-02-02 00:00:00, 2010-02-03 00:00:00, 2010-02-04 00:00:00, 2010-02-05 00:00:00, 2010-02-08 00:00:00, 2010-02-09 00:00:00, 2010-02-10 00:00:00, 2010-02-11 00:00:00, 2010-02-12 00:00:00, 2010-02-16 00:00:00, 2010-02-17 00:00:00, 2010-02-18 00:00:00, 2010-02-19 00:00:00, 2010-02-22 00:00:00, 2010-02-23 00:00:00, 2010-02-24 00:00:00, 2010-02-25 00:00:00, 2010-02-26 00:00:00, 2010-03-01 00:00:00, 2010-03-02 00:00:00, 2010-03-03 00:00:00, 2010-03-04 00:00:00, 2010-03-05 00:00:00, 2010-03-08 00:00:00, 2010-03-09 00:00:00, 2010-03-10 00:00:00, 2010-03-11 00:00:00, 2010-03-12 00:00:00, 2010-03-15 00:00:00, 2010-03-16 00:00:00, 2010-03-17 00:00:00, 2010-03-18 00:00:00, 2010-03-19 00:00:00, 2010-03-22 00:00:00, 2010-03-23 00:00:00, 2010-03-24 00:00:00, 2010-03-25 00:00:00, 2010-03-26 00:00:00, 2010-03-29 00:00:00, 2010-03-30 00:00:00, 2010-03-31 00:00:00, 2010-04-01 00:00:00, 2010-04-05 00:00:00, 2010-04-06 00:00:00, 2010-04-07 00:00:00, 2010-04-08 00:00:00, 2010-04-09 00:00:00, 2010-04-12 00:00:00, 2010-04-13 00:00:00, 2010-04-14 00:00:00, 2010-04-15 00:00:00, 2010-04-16 00:00:00, 2010-04-19 00:00:00, 2010-04-20 00:00:00, 2010-04-21 00:00:00, 2010-04-22 00:00:00, 2010-04-23 00:00:00, 2010-04-26 00:00:00, 2010-04-27 00:00:00, 2010-04-28 00:00:00, 2010-04-29 00:00:00, 2010-04-30 00:00:00, 2010-05-03 00:00:00, 2010-05-04 00:00:00, 2010-05-05 00:00:00, 2010-05-06 00:00:00, 2010-05-07 00:00:00, 2010-05-10 00:00:00, 2010-05-11 00:00:00, 2010-05-12 00:00:00, 2010-05-13 00:00:00, 2010-05-14 00:00:00, 2010-05-17 00:00:00, 2010-05-18 00:00:00, 2010-05-19 00:00:00, 2010-05-20 00:00:00, 2010-05-21 00:00:00, 2010-05-24 00:00:00, 2010-05-25 00:00:00, 2010-05-26 00:00:00, ...], ['CBAK', 'CHK', 'TSLA', 'WTI']])

In [30]:
print(len(df.index.levels))

2

Since we do not want to work with a hierarchical index right now, we will reset the index to get the data into a format that is a little less structured. Luckily, this is easy to do.

You may often find yourself using the `reset_index` method just to get back to square one and start over when performing analysis. I find myself using it a lot simply because it helps me make sure that I understand what I am doing to my data and what format it is in.

In [31]:
df.reset_index().head()

,Date,minor,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04,CBAK,13.500000,13.500000,14.500000,13.350000,14.500000,456600.0
1,2010-01-04,CHK,24.503799,26.575212,26.594135,25.468306,25.950804,31146800.0
2,2010-01-04,WTI,9.824886,12.260000,12.460000,11.860000,11.900000,838800.0
3,2010-01-05,CBAK,14.250000,14.250000,15.500000,13.450000,13.600000,1179500.0
4,2010-01-05,CHK,25.271461,27.407759,27.549669,26.679281,26.773888,28692600.0

Remember, that does not happen in place by default, so we will probably want to set the `inplace` parameter in our method call.

In [32]:
df.reset_index(inplace=True)

Now we have reset our index. 

The purpose of this lesson was to introduce you to some of these more advanced data representations and data source APIs. In the next video we will work with an airplane data set that will let us try out a lot of what we have learned.